[Unit]
Description=KernelCI rootfs builds
# Might flood a lot of emails, so only enable this if you want to
#OnFailure=sysadmins-email@domain

[Service]
Type=oneshot
WorkingDirectory=/home/kernelci/kernelci-deploy/
ExecStart=/home/kernelci/kernelci-deploy/kernelci.org rootfs
User=kernelci
